* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 50px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product img {
  width: 400px;
  height: 200px;
  object-fit: cover;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

img {
  max-width: 75%;
}
