/* CSS HEX
--phthalo-green: #375936;
--tea-green: #d9e5c7;
--cafe-au-lait: #a8764d;
--sky-blue: #96d3ed;
--blue-sapphire: #2f5c75;

font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;
*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 70px;
  background-color: #f2f2f3;
}

hr {
  color: #2f5c75;
}

h1,
h2,
h3,
h4 {
  font-family: "Oleo Script Swash Caps", cursive;
}

h1 {
  font-size: 4em;
  color: #5af;
}

h3 {
  font-size: 2em;
  color: #375936;
}

h4 {
  font-size: 1.4em;
}

.welcome h3 {
  text-align: right;
  padding-right: 20px;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #2f5c75;
}

a:hover {
  color: #a8764d;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px 0 50px 0;
}

#image-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#product-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0 25px 0;
}

.row-cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#single-prod-button,
.cart-button {
  background-color: #2f5c75;
  border: none;
  color: white;
  padding: 12px 28px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 30px 0 0 0;
}

#single-prod-button:hover {
  background-color: #a8764d;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #a8764d;
}

.product {
  background: #d9e5c7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 25px 25px 0;
  padding: 15px;
}

.product p,
.product h3 {
  margin-bottom: 5px;
}

.product img {
  max-width: 300px;
  height: 200px;
  object-fit: cover;
}

#product-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  align-items: baseline;
  padding: 0 10px 0 10px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

img {
  max-width: 75%;
}

.Toastify__toast-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  align-items: baseline;
  font-family: "Montserrat", sans-serif;
}
